@tailwind base;
@tailwind components;
@tailwind utilities;


/* @media (min-width: 768px) {
    #mobile-menu-button {
        display: none !important;
    }

    #mobile-menu {
        display: none !important;
    }
} */


<style>
  @media (min-width: 1024px) {
    #mobile-menu-button {
      display: none !important;
    }
  }
</style>

